
@{
    ViewBag.Title = "Index";
}

<h2>Product List</h2>



<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    @foreach (var item in ViewBag.List)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.CategoryId</td>
            <td>@item.Name</td>
            <td>@item.Descriptions</td>
        </tr>
    }
  
</table>
